#divAbout {
  background-color: #FDEDD0;
  margin: auto;
  text-align: center;
  padding-top: 90px;

  div.map {
    margin: auto;
    padding: 50px;
    text-align: center;

    img.map {
      width: 80%;
      border-radius: 20px;
      border: 1px solid #d6c39a;
    }
  }
}
